<form #fakerForm [formGroup]="formGroup">
  <div class="container">
    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <span>吃這家</span><br />
        <span id="result">{{ result }}</span>
        <div>
          <p>
            <button
              type="button"
              id="ButtonChoose"
              class="btn btn-outline-danger btn-lg btn-block"
              (click)="ButtonChoose()"
            >
              就決定是你了
            </button>
          </p>
          <p>
            <button
              type="button"
              id="ButtonStart"
              class="btn btn-outline-primary btn-lg btn-block"
              (click)="ButtonStart()"
            >
              重新開始
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div class="">
          <label>加入店家:</label>
          <input type="text" formControlName="shopName" [id]="'shopName'" />
        </div>
        <div>
          <button
            type="button"
            id="ButtonAdd"
            class="btn btn-outline-info btn-lg btn-block mt-3"
            (click)="ButtonAdd()"
          >
            點此加入
          </button>
        </div>
        <div class="mt-5">
          <label>請選擇要刪除的店家:</label>
          <select
            formControlName="removeShop"
            (change)="change_removeShop($event)"
            [(ngModel)]="defaultRemoveShop"
          >
            <option *ngFor="let shop of shops" value="{{ shop }}">
              {{ shop }}
            </option>
          </select>
        </div>
        <div>
          <span style="margin-right: 10px">
            <button
              type="button"
              id="ButtonDelete"
              class="btn btn-outline-info btn-lg btn-block"
              (click)="ButtonDelete()"
            >
              點此刪除
            </button></span
          ><span>
            <button
              type="button"
              id="ButtonStart"
              class="btn btn-outline-info btn-lg btn-block"
              (click)="ButtonAllDelete()"
            >
              全部刪除
            </button></span
          >
        </div>
      </div>
      <div class="col-6 text-center">
        <h2 class="text-center">候選店家</h2>
        <p *ngFor="let shop of shops">{{ shop }}</p>
      </div>
    </div>
  </div>
</form>
